
@{
    ViewBag.Title = "CreateAccount";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/w3/w3.css" />
</head>
<body>
    <form id="registeration" runat="server" action="../Account/CreateAccount" method="post" enctype="multipart/form-data">
        <h2>Create Account</h2>
        <hr />
        <br />

        <div>

            <table style="margin: auto; padding: 5px; width: 100%; line-height: inherit; display: inline-table;" align="center" runat="server">
                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px; height: 44px;" class="text-right">Last Name </td>
                    <td runat="server" class="modal-sm" style="padding: 10px; width: 233px; height: 44px;">
                        <input id="txtLname" name="txtLname" type="text" placeholder="Last Name" />
                    </td>
                    <td runat="server" style="padding: 10px; width: 666px; height: 44px;">
                        @*<asp:RequiredFieldValidator ID="rfvLname" runat="server" ErrorMessage="* Lastname is Required" ControlToValidate="txtLname" style="color: #FF0000"></asp:RequiredFieldValidator>*@
                    </td>
                    <td runat="server" style="padding: 10px; height: 44px;">
                    </td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px" class="text-right">First Name </td>
                    <td runat="server" style="padding: 10px; width: 233px;" class="modal-sm">
                        <input id="txtFname" name="txtFname" type="text" placeholder="First Name" />
                    </td>
                    <td runat="server" style="padding: 10px; width: 666px;">
                        @*<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txtFname" ErrorMessage="* Firstname is Required" style="color: #FF0000"></asp:RequiredFieldValidator>*@
                    </td>
                    <td runat="server" style="padding: 10px;">
                        &nbsp;
                    </td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px" class="text-right">Middle Name </td>
                    <td runat="server" style="padding: 10px; width: 233px;" class="modal-sm">
                        <input id="txtMname" name="txtMname" type="text" placeholder="Middle Name" />
                    </td>
                    <td runat="server" style="padding: 10px; width: 666px;">
                        @*<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txtFname" ErrorMessage="* Firstname is Required" style="color: #FF0000"></asp:RequiredFieldValidator>*@
                    </td>
                    <td runat="server" style="padding: 10px;">
                        &nbsp;
                    </td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px" class="text-right">Address</td>
                    <td runat="server" class="modal-sm" style="padding: 10px; width: 233px;">
                        <input id="txtAdress" name="txtAdress" type="text" placeholder="Address" />
                    </td>
                    <td runat="server" style="padding: 10px; width: 666px;">&nbsp;</td>
                    <td runat="server" style="padding: 10px">&nbsp;</td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px" class="text-right">Contact Number</td>
                    <td runat="server" class="modal-sm" style="padding: 10px; width: 233px;">
                        <input id="txtConNum" name="txtConNum" type="text" placeholder="Contact Number" />
                    </td>
                    <td runat="server" style="padding: 10px; width: 666px;">&nbsp;</td>
                    <td runat="server" style="padding: 10px">&nbsp;</td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px; " class="text-right">Email Address</td>
                    <td runat="server" class="modal-sm" style="padding: 10px; width: 233px;">
                        <input id="txtEmail" name="txtEmail" type="text" placeholder="Email Address" />
                    </td>
                    <td runat="server" style="padding: 10px; width: 666px;">
                        &nbsp;
                    </td>
                    <td runat="server" style="padding: 10px;">
                        &nbsp;
                    </td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px; " class="text-right">Username</td>
                    <td runat="server" class="modal-sm" style="padding: 10px; width: 233px;">
                        <input id="txtUsername" name="txtUsername" type="text" placeholder="Username" />
                    </td>
                    <td runat="server" style="padding: 10px; width: 666px;">
                        &nbsp;
                    </td>
                    <td runat="server" style="padding: 10px;">&nbsp;</td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px; height: 44px;" class="text-right">Password</td>
                    <td runat="server" class="modal-sm" style="padding: 10px; width: 233px; height: 44px;">
                        <input id="txtPswd" name="txtPswd" type="password" placeholder="Password" />
                        @*<asp:TextBox ID="txtpwd" runat="server" TextMode="Password" class="w3-input w3-border w3-round" ValidationGroup="RegisterCheck" Width="255px" placeholder="Password" Text=""></asp:TextBox>*@
                    </td>
                    <td runat="server" style="padding: 10px; width: 666px; height: 44px;" colspan="1">
                        &nbsp;
                    </td>
                    <td runat="server" style="padding: 10px; height: 44px;">
                        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="txtpwd" ValidationGroup="RegisterCheck"></asp:RequiredFieldValidator>
                    </td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px; height: 44px;" class="text-right">Confirm Password</td>
                    <td runat="server" class="modal-sm" style="padding: 10px; width: 233px; height: 44px;">
                        <input id="txtConpswd" name="txtConpswd" type="password" placeholder="Confirm Password" />
                        @*<asp:TextBox ID="txtcpwd" runat="server" TextMode="Password" Width="255px" placeholder="Confirm Password" Text="" class="w3-input w3-border w3-round"></asp:TextBox>*@
                    </td>
                    <td runat="server" style="padding: 10px; width: 666px; height: 44px;">
                        <asp:CompareValidator ID="cvcpwd" runat="server" ErrorMessage="* Password did not match!" ControlToCompare="txtConpswd" ControlToValidate="txtConpswd" style="color: #FF0000"></asp:CompareValidator>
                    </td>
                    <td runat="server" style="padding: 10px; height: 44px;">
                    </td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px; height: 44px;" class="text-right">Choose a Role: </td>
                    <td runat="server" class="modal-sm" style="padding: 10px; width: 233px; height: 44px;">

                        <input id="radRole" name="radRole" value="Buyer" type="radio">
                        Buyer

                        <input id="radRole" name="radRole" value="Seller" type="radio">
                        Seller

                    </td>
                    <td runat="server" style="padding: 10px; width: 666px; height: 44px;" colspan="1">
                        &nbsp;
                    </td>
                    <td runat="server" style="padding: 10px; height: 44px;">
                        <asp:RequiredFieldValidator ID="rfvRole" runat="server" ControlToValidate="txtpwd" ValidationGroup="RegisterCheck"></asp:RequiredFieldValidator>
                    </td>
                </tr>

                <tr runat="server">
                    <td runat="server" style="padding: 10px; width: 745px">
                        &nbsp;
                    </td>
                    <td runat="server" class="modal-sm" style="padding: 10px; width: 233px;">
                        <input id="btnRegister" type="submit" value="Register" />
                    <td runat="server" style="padding: 10px; width: 666px;">&nbsp;</td>
                    <td runat="server" style="padding: 10px">&nbsp;</td>
                </tr>
            </table>


        </div>

    </form>

    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
    

</body>

</html>


