
@{
    ViewBag.Title = "CreateAccount";
}

<html>
<head>

</head>
<body>
    <form id="registeration" runat="server" action="~/Views/Account/CreateAccount.cshtml" method="post" enctype="multipart/form-data">
        <h2>Create Account</h2>
        <hr/>
        <br/>

        <div>
            <table style="width:100%;">
            <tr>
                <td>First Name:</td>
                <td>
                    <input id="txtfname" name="txtfname" type="text" />
                </td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            
            </table>
            




        </div>

    </form>
</body>

</html>


