@{
    ViewBag.Title = "About";
}
<h2 class="primary-text-color">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p class="primary-text-color">Use this area to provide additional information.</p>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
