@{
    ViewBag.Title = "Contact";
}
<h2 class="primary-text-color">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address class="primary-text-color">
    © Copyright Jam C. All Rights Reserved<br />
    Cebu, Philippines<br />
    <abbr >Phone:</abbr>
    +639610664043
</address>

<address>
    <strong class="primary-text-color">Support:</strong><a href="mailto:jamaicacavalida@gmail.com">jamaicacavalida@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href=" ">Marketing@example.com</a>*@
</address>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
