@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    © Copyright Jam C. All Rights Reserved<br />
    Cebu, Philippines<br />
    <abbr title="Phone">P:</abbr>
    +639610664043
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jamaicacavalida@gmail.com">jamaicacavalida@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href=" ">Marketing@example.com</a>*@
</address>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
