
    @{
        ViewBag.Title = "CreateAccount";
    }

    <html>
    <head>
        <link rel="stylesheet" href="~/Content/w3/w3.css" />
        <link rel="stylesheet" href="~/Content/HomeCSS/CreateAccountStyle.css" />
        
    </head>
    <body>
        <h2>Create Account</h2>
        <hr />
        <br />


        <form id="registration" runat="server" action="../Home/CreateAccount" method="post" enctype="multipart/form-data">
            <div  runat="server" class="jam-container1">
            </div>

            <div  runat="server" class="jam-container2">

                <table style="width:100%;" runat="server">
                    <tr runat="server">
                        <td runat="server" style="text-align:right; width:170px">Last Name</td>
                        <td runat="server"><input runat="server" id="txtLastname" name="txtLastname" type="text" required /></td>
                        <td runat="server">&nbsp;</td>
                    </tr>

                    <tr runat="server">
                        <td runat="server" style="text-align: right; width: 170px ">First Name</td>
                        <td runat="server"><input id="txtFirstname" name="txtFirstname" type="text" required /></td>
                        <td runat="server">&nbsp;</td>
                    </tr>

                    <tr runat="server">
                        <td runat="server" style="text-align: right; width: 170px ">Middle Name</td>
                        <td runat="server"><input runat="server" id="txtMidname" name="txtMidname" type="text" /></td>
                        <td runat="server">&nbsp;</td>
                    </tr>

                    <tr runat="server">
                        <td runat="server" style="text-align: right; width: 170px ">Address</td>
                        <td runat="server"><input runat="server" id="txtAddress" name="txtAddress" type="text" required /></td>
                        <td runat="server">&nbsp;</td>
                    </tr>

                    <tr runat="server">
                        <td runat="server" style="text-align: right; width: 170px ">Phone Number</td>
                        <td runat="server"><input runat="server" id="txtPhoneNum" name="txtPhoneNum" type="text" required /></td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr runat="server">
                        <td runat="server" style="text-align: right; width: 170px ">Email Address</td>
                        <td runat="server"><input runat="server" id="txtEmail" name="txtEmail" type="email" required /></td>
                        <td runat="server">&nbsp;</td>
                    </tr>

                    <tr runat="server">
                        <td runat="server" style="text-align: right; width: 170px ">Username</td>
                        <td runat="server"><input id="txtUsername" name="txtUsername" type="text" required /></td>
                        <td runat="server">&nbsp;</td>
                    </tr>

                    <tr runat="server">
                        <td runat="server" style="text-align: right; width: 170px ">Password</td>
                        <td runat="server">
                            <input runat="server" id="txtPassword" name="txtPassword" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />
                        </td>
                        <td runat="server">&nbsp;</td>
                    </tr>

                    <tr runat="server">
                        <td runat="server" style="text-align: right; width: 170px ">Sign Up As</td>

                        <td runat="server">
                            <select id="ddlRole" name="ddlRole" runat="server" required style="width: 300px; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; margin-top: 6px; margin-bottom: 10px;">
                            <option value="0">Choose a Role:</option>
                            <option value="Customer">Customer</option>
                            <option value="Admin">Admin</option>
                            </select>


                        </td>
                        <td runat="server">&nbsp;</td>
                    </tr>

                    <tr>
                        <td runat="server">&nbsp;</td>
                        <td runat="server"><input id="btnRegister" name="btnRegister" type="submit" value="Register" class="w3-button w3-blue w3-round" /></td>
                        <td runat="server">&nbsp;</td>
                    </tr>

                </table>


                <div id="message" style="padding-left: 70px;">
                    <h5>Password must contain the following:</h5>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
            </div>
        </form>

        <script type="text/javascript" src="~/Scripts/myScripts/CreateAccountScript.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>

    </body>

</html>


