
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Data;
@using System.Data.SqlClient;
@using System.Configuration;
@using System.Web.Configuration;
@using System.IO;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.Web.SessionState;


@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>

<br />
<br />
<br />


<div class="jumbotron" style="background-image: linear-gradient(to right top, #845ec2, #7789db, #81aee7, #a6ceec, #daebf2);">
    <h1></h1>

    <h1>
        <div style="float:left; margin-bottom:20px; margin-left:200px;">
            <strong>GAMING.GEARS </strong>Shop
        </div>

        <div class="stage" style="float:left;">
            <div class="pyramid3d">
                <div class="triangle side1"></div>
                <div class="triangle side2"></div>
                <div class="triangle side3"></div>
                <div class="triangle side4"></div>
            </div>
        </div>
    </h1>

    <h3 style='clear:both' class="subhead">
        <br />
        <p class="center-content-div" style="font-size:25px;">Gaming.Gears Shop is a marketplace enables gamers to buy items for their favourite game.</p>
    </h3>

    <br />
    <br />
    <div class="center-content-div">
        <p><a href="@Url.Action("LogIn","Home")" class="btn shadow btn-primary" style="width: 170px; color: white; height: 50px; ">Sign In</a></p> &nbsp;&nbsp;&nbsp;&nbsp;
        <p><a href="@Url.Action("Registration","Home")" class="btn shadow btn-primary" style="width: 170px; color: white; height:50px;">Go to Shop</a></p>
    </div>

</div>
<br />
@*<span style="color: white">Latest Releases</span>
<hr style="color:white;" />*@

<section class="about" id="about">
    <div class="content">
        <div class="title"><span>About</span></div>
        <div class="about-details">
            <div class="right">
                <div class="topic">Gaming.Gears Shop</div>
                <p>Gaming.Gears Shop is a marketplace enables gamers to buy items for their favourite game.</p>

            </div>
        </div>
    </div>
</section>


<br />
<br />
<br />
<br />
<br />
<br />
<br />



