@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Data;
@using System.Data.SqlClient;
@using System.Configuration;
@using System.Web.Configuration;
@using System.IO;
@using System.Drawing;
@using System.Drawing.Imaging;

@{

    ViewBag.Title = "ListAllProducts";

}

<h2>List of All Products</h2>
@{
    string connDB = WebConfigurationManager.ConnectionStrings["connDB"].ConnectionString;

    using (var db = new SqlConnection(connDB))
    {
        db.Open();
        using (var cmd = db.CreateCommand())
        {
            cmd.CommandType = CommandType.Text;
            cmd.CommandText = "SELECT * FROM ITMTBL";
            using (var reader = cmd.ExecuteReader())
            {
                if (reader.HasRows)
                {
                    <table style="text-align:center; border: 5px maroon" border="1" class="w3-table-all w3-light-grey">
                        <thead>
                            <tr style="background-color: maroon; color: white">
                                <th width="15%" style="text-align:center; ">
                                    Item Number
                                </th>

                                <th width="10%" style="text-align:center; ">
                                    Quantity
                                </th>

                                <th width="15%" style="text-align:center;">
                                    Price
                                </th>

                                <th style="text-align:center;">
                                    Image
                                </th>

                            </tr>

                        </thead>
                        <tbody>
                            @while (reader.Read())
                            {
                                <tr class="items w3-padding-64">
                                    <td class="itmnum w3-padding-64">
                                        @reader["ITMNUM"]
                                    </td>
                                    <td class="onhand w3-padding-64 w3-center class">
                                        @reader["ITMONHAND"]
                                    </td>
                                    <td class="price w3-padding-64 w3-center class">
                                        @reader["ITMPRICE"]
                                    </td>
                                    <td class="itmimage" style="padding-top:3em">
                                        <center>
                                            <img src="../Home/Image?filename=@HttpUtility.UrlEncode(reader["ITMIMG"] + "")" width="20%" /> <br />
                                            @String.Format("{0:0.00}", reader["ITMNAME"])<br />
                                            <input type="number" class="txtqty" name="txtqty" step="1" /><br /><br/>
                                            <input type="button" class="btnCart" name="btnsbmt" value="Add to Cart" />
                                        </center><br /><br />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No Records Found!</p>

                }

            }

        }
    }


}


<script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

    $(".btnCart").each(function () {
        $(this).click(function () {
            var itmnum = $(this).closest('.items').find('.itmnum').html();
            var onhand = $(this).closest('.items').find('.onhand').html();
            var qty = $(this).closest('.items').find('.txtqty').val();

            if (parseInt(qty) <= parseInt(onhand)) {
                //alert(qty + " " + itmnum);
                $.post("../Home/Cart", {
                    itemNo: itmnum,
                    qty: qty,
                    price: price
                }, function (res) {

                });
            } else {
                alert('Insufficient stocks');
            }

            //alert(itmnum);
        });
    });

</script>