
@{
    ViewBag.Title = "Product Entry";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/w3/w3.css" />
    <style type="text/css">
        .con {
            width: 75%;
            padding: 10px;
            height: auto;
            background-image: linear-gradient(to right top, #845ec2, #7789db, #81aee7, #a6ceec, #daebf2);
            justify-content: center;
        }


    </style>
</head>
<body>
    <form id="productRecord" action="../Home/ProductEntry" method="post" enctype="multipart/form-data">

        <h2 class="primary-text-color">
            <a href="@Url.Action("AdminPage","Home")" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>Back
            </a>&nbsp;Product Entry
        </h2>
        <hr />


        <div style="height:1000px;" class="center-content-div">
            <div class="con w3-panel w3-round-xlarge center-content-div">
                <div>
                    <br />
                    <br />
                    Product Number/Code <br />
                    <input class="w3-input w3-border w3-round" type="text" id="txtCode" name="txtCode" /><br />
                    Product Name <br />
                    <input class="w3-input w3-border w3-round" type="text" id="txtName" name="txtName" required /><br />
                    Product Description<br />
                    <textarea id="txtDesc" name="txtDesc" rows="2" cols="20" class="w3-input w3-border w3-round" type="text" style="width:180%;" required></textarea>
                    <input type="file" id="uploadImg" name="uploadImg"
                           accept="image/png,image/jpeg,image/jpg,image/gif,image/bmp"
                           onchange="getImagePreview()" required />
                    <div id="preview">

                    </div><br />
                    Price<br />
                    <input class="w3-input w3-border w3-round" type="number" id="txtprice" name="txtprice" min="0" value="0" step=".01" /><br />
                    Quantity on Hand<br />
                    <input class="w3-input w3-border w3-round" type="number" id="txtonhand" name="txtonhand" min="0" /><br />
                    Date<br />
                    <input class="w3-input w3-border w3-round" type="text" id="datepicker" name="datepicker" value="@DateTime.Now.ToShortDateString()" />
                    <br />
                    <input class="btn btn-primary shadow w3-round-xxlarge" id="btnSaveProd" style="width: 280px; color:white; " type="submit" value="Save" /><br />

                </div>

            </div>
        </div>
    </form>
    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/myScripts/myScript.js"></script>

</body>
</html>
