
@{
    ViewBag.Title = "Registration";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/w3/w3.css" />
    <style type="text/css">
        input {
            height: 35px;
        }

    </style>
</head>
<body>
    <form id="registration" action="../Home/Registration" method="post" enctype="multipart/form-data">
        <br />
        <br />

        <div style="height:1050px;" class="center-content-div">

            <div style="width:80%; padding: 10px; height: 550px; background-image: linear-gradient(to right top, #845ec2, #7789db, #81aee7, #a6ceec, #daebf2); justify-content: center" class="w3-panel w3-round-xlarge">
                <br />
                <h2 class="center-content-div" style="color:white;"><strong>Sign Up</strong> </h2> <hr />
                <div style="margin-left:120px; ">
                    <br />

                    <table style="width:90%; padding:10px;">
                        <tr>
                            <td style="color:white;">Lastname</td>
                            <td style="color:white;">Firstname</td>
                        </tr>
                        <tr>
                            <td><input class="w3-input w3-border w3-round" type="text" id="txtLastname" name="txtLastname" required /></td>
                            <td><input class="w3-input w3-border w3-round" type="text" id="txtFirstname" name="txtFirstname" required /></td>
                        </tr>
                        <tr>
                            <td style="color:white;">Address</td>
                            <td style="color:white;">Date of Birth </td>
                        </tr>
                        <tr>
                            <td><input class="w3-input w3-border w3-round" type="text" id="txtAddress" name="txtAddress" required /></td>
                            <td><input class="w3-input w3-border w3-round" type="date" id="txtBdate" name="txtBdate" required /></td>
                        </tr>
                        <tr>
                            <td style="color:white;">Contact Number</td>
                            <td style="color:white;">Email Address</td>
                        </tr>
                        <tr>
                            <td><input class="w3-input w3-border w3-round" type="text" id="txtContact" name="txtContact" /></td>
                            <td><input class="w3-input w3-border w3-round" type="email" id="txtEmail" name="txtEmail" required /></td>
                        </tr>
                        <tr>
                            <td style="color:white;">Username</td>
                            <td style="color:white;">Password</td>
                        </tr>
                        <tr>
                            <td><input class="w3-input w3-border w3-round" type="text" id="txtUsername" name="txtUsername" required /></td>
                            <td>
                                <input class="w3-input w3-border w3-round" type="password" id="txtPassword" name="txtPassword" required />
                                <span id="password_strength" style=" color: red; "></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="color:white;">Confirm Password</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input class="w3-input w3-border w3-round" type="password" id="txtConPassword" name="txtConPassword" required />
                                <span id="CheckPasswordMatch"></span><br />
                            </td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td><a href="@Url.Action("LogIn","Home")" style="width:150px; color:white">Already have an account?</a></td>
                            <td><input class="btn btn-primary shadow w3-round-xxlarge" id="btnRegister" style="width: 270px; height:50px;  color:white; " type="submit" value="Sign Up" /></td>
                        </tr>

                    </table>

                </div>
            </div>

        </div>
    </form>


    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/myScripts/Registration.js"></script>

</body>
</html>


